html {
    font-family: sans-serif;
    background-color: #fefefe;
}
body {
    height: 100%;
    position: fixed;
    width: 100%;
}
#logincontainer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

#registercontainer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.popup {
    min-height: 800px;
    width: 80%;
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup .title {
    background-color: rgb(34, 34, 34);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup #login {
    background-color: #fefefe;
    margin: 0px;
    padding: 16px;
}

.popup #register {
    background-color: #fefefe;
    margin: 0px;
    padding: 16px;
}

.popup .actions {
    background-color: rgb(34, 34, 34);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 16px 24px;
}

input[type="submit" i]{
    margin: 0px 10px;
}

input[type="button" i]{
    margin: 0px 10px;
}

.close {
    cursor: pointer;
}