#status {
    margin-bottom: 0;
    border-radius: 0;
}
.inline {
    display: inline;
}
.carousel {
    margin-bottom: 30px;
}
.carousel-inner {
    overflow: visible;
}
.carousel-indicators {
    z-index: 2;
}
.dropdown-item:hover {
    background-color: #007bff;
    color: white;
}
.dropdown-menu.show {
    z-index: 3;
}