html { 
    background-color: whitesmoke;
    font-size: 25px;
    font-style: italic;
} 
header {
    color:darkblue;
    text-align:center;
    text-decoration: underline;
    padding: 10px; 
    font-size:xx-large;
}
.welcome {
    position: relative;;
    text-align: center;
    padding-top: 30px;
       
}
.choices {
    position: center;
    text-align: center;
    padding-top: 40px;
}

.upload{
    text-align: center;
    padding-top: 80px;
}