body { 
    background-color :#eeebe3;
    font-style: italic;
}
header {
    color:darkblue;
    text-align:center;
    text-decoration: underline; 
}
.main {
    position: relative;
    z-index: -1;
}
.welcome {
    position: relative;
    text-align: center;
    margin: 0 auto;    
}
div.login{
    text-align: center;
    width: 5px;
    background-color: cornsilk;
    border-style: solid;  
    padding: 15px 25px;
}
div.register{
    text-align: center;
    width: 5px;
    background-color: cornsilk;
    border-style: solid;
}
.choices {
    position: center;
    text-align: center;
    top: 50px;
    margin-top: 30px;
}
div.talen {
    text-align: center;
    width: 5px;
    cursor: pointer;
    background-color: cornsilk;
}
div.wiskunde { 
    text-align: justify;
    width: 5px;
    cursor: pointer;
    background-color: cornsilk;
}
div.geschiedenis {
    text-align: center;
    width: 5px;
    cursor: pointer;
    background-color: cornsilk
}
.upload{
    text-align: center;
}
div.files{
    text-align: center ;
    cursor: pointer;
    bottom: 50px;
    border-radius: 12px;
    background-color: cornsilk;
}
.button{
    background-color: cyan;
}
.card {
    margin-bottom: 30px;
}
.popover-dismiss {
    color: white !important;
}